body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  padding: 0 2rem;
}


h2 {
  color: rgba(0, 0, 0, 0.88);
}

.ant-btn {
  transition: opacity 0.5s ease;
}

.ant-btn:hover {
  opacity: 0.8;
}

.ant-btn.btn-action {
  margin: 1rem 0;
  min-width: 8rem;
}

.ant-divider.main-title {
  margin: 0;
}

.ant-divider h2 {
  cursor: pointer;
}

.col-center {
  display: flex;
  justify-content: center;
}

.card-center {
  align-items: center;
  display: flex;
  text-align: center;
}

.img-bg {
  height: 7rem;
  object-fit: cover;
}

.main-content {
  margin-bottom: 2rem;
}